html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* general */
*,
*::before,
*::after {
    box-sizing: border-box;
}
.container {
    max-width: 1150px;
    margin: 0 auto;
}
h1 {
    font-size: 36px;
    font-weight: 700;
}
h2 {
    font-size: 32px;
    font-weight: 600;
}
h3 {
    font-size: 29px;
    font-weight: 600;
}
h4 {
    font-size: 20px;
    font-weight: 600;
}
h5 {
    font-size: 18px;
    font-weight: 700;
}
p {
    font-size: 18px;
    line-height: 1.5;
}
a {
    text-decoration: none;
}
.text-centre {
    text-align: center;
}
.uppercase {
    text-transform: uppercase;
}
strong {
    color: #ED563A;
}
body {
    font-family: 'Montserrat', sans-serif;
}
/* flex */
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col-1-2 {
    flex: 0 1 48%;
}
.col-1-3 {
    flex: 0 1 30%;
}
.col-40 {
    flex: 0 1 30%;
}
.col-60 {
    flex: 0 1 58%;
}
.col-50 {
    flex: 0 0 50%;
}
/* header */
header {
    padding: 20px 0;
    background-color: hsla(212,7%,43%,0.8);
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;
}
.logo {
    text-transform: uppercase;
    color: white;
}
.list-item {
    margin-left: 25px;
}
.list-item:first-child {
    margin-left: 0;
}
.list-item a {
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}
.sign-btn {
    padding: 15px;
    background-color: #ED563A;
    display: inline-block;
}
/* button */
.btn {
    padding: 10px 15px;
    color: white;
    background-color: #ED563A;
    display: inline-block;
}
/* hero section */
.contain {
    position: relative;
}
video {
    width: 100%;
}
.hero {
    position: absolute;
    width: 100%;
    height: 856px;
    top: 0;
    right: 0;
    background-color: hsla(207,12%,32%, 0.8);
}
.hero-sub {
    color: white;
    position: relative;
    top: 300px;
}
.hero-sub h1 {
    margin: 20px 0;
    font-size: 45px;
}
.hero-sub p {
    font-weight: 600;
}
/* first-section */
.first-section {
    padding: 40px 0;
}
.first-section p {
    font-size: 15px;
    color: #A4A4A4;
}
.first-text img,p,h3 {
    margin: 10px 0;
}
.first-text {
    padding: 35px 0;
}
.col-image {
    width: 30%;
}
.col-text {
    width: 70%;
}
.sub-flex {
    display: flex;
    align-items: flex-start;
}
.col-text p {
    word-spacing: 4px;
}
.orange {
    color: #ED563A;
}
.blue {
    color: #98C3FF;
}
.row {
    margin-bottom: 50px;
}
.second-row {
    padding: 20px 0;
}
/* second-section */
.second-section {
    background: url("../../assets/images/cta-bg.jpg");
    padding: 70px 0;
}
.second-section p {
    color: white;
    margin: 20px 0;
}
.second-section h2 {
    color: #ffffff;
}
.first-text p {
    font-size: 15px;
    color: #A4A4A4;
}
/* third-section */
.third-section {
    margin: 60px 0;
}
.third-sec-row {
    align-items: flex-start;
}
.third-sec-row h5 {
    color: #232D38;
}
.sub-40 {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 5px rgba(59, 59, 59, 0.11);
    margin-bottom: 40px;
}
.sub-40 img {
    margin-right: 15px;
}
.third-sec-row .active {
    color: #ED563A;
}
.btn-program {
    display: inline-block;
    width: 100%;
    padding: 20px;
    color: white;
    background-color: #ED563A;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}
.col-60 img {
    border-radius: 5px;
}
.col-60 h5 {
    margin: 10px 0;
}
.col-60 p {
    color: #A4A4A4;
    margin: 10px 0;
}
.col-60 a {
    margin: 10px 0;
    font-weight: 600;
}
/* fourth-section */
.fourth-section {
    padding: 60px 0;
    background: hsla(207,12%,32%, 0.8) url("../images/schedule-bg.jpg");
    margin-top: 100px;
}
.fourth-section h3 {
    color: #ffffff;
}
.fourth-section p {
    color: #ffffff;
}
.sub-week {
    display: flex;
    justify-content: center;
}
.days-list {
    margin-left: 20px;
    color: #ffffff;
}
.days-list:first-child {
    margin-left: 0;
}
.days-list .active {
    color: #ED563A;
}
.days-list a {
    padding: 0 15px;
    font-weight: 600;
    color: white;
}
/* table */
table,
th,
td {
    border: 2px solid #fff;
    border-collapse: collapse;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    padding: 35px 60px;
    vertical-align: middle;
    text-align: center;
}
.time-table {
    margin: 60px 0;
    display: flex;
    justify-content: center;
}
/* fifth-section */
.fifth-section {
    padding: 60px 0;
}
.socail-link {
    display: flex;
}
.socail-link li {
    margin-left: 30px;
}
.socail-link li:first-child {
    margin-left: 0;
}
.col-1-3 span {
    font-weight: 600;
    margin: 10px 0;
    display: inline-block;
}
.col-1-3 p {
    font-size: 15px;
    color: #A4A4A4;
    margin: 8px 0;
}
.col-1-3 {
    padding: 20px;
    box-shadow: 0 0 10px 5px rgba(59, 59, 59, 0.15);
}
.socail-link i {
    color: #181717;
}
.expert-trainer {
    margin-top: 30px;
}
/* fifth-section */
.sixth-section {
    display: flex;
    margin-top: 40px;
}
.form {
    background: url("../images/contact-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
}

form {
    background: #fff;
    color: rgba(36, 34, 34, 0.548);
    font-size: 18px;
    font-weight: 300;
    border-radius: 10px;
    padding: 25px;
}
input,
textarea {
    font-family: inherit;
    display: inline-block;
    border: 1px solid rgba(36, 34, 34, 0.548);
}
input[name="name"],
input[name="email"] {
    width: 40%;
    margin: 12px 21px;
    padding: 12px;
}
input[name="subject"],
textarea {
    width: 89%;
    margin: 12px 18px;
    padding: 12px;
}
form a {
    display: inline-block;
    margin: 12px 18px;
}
/* footer */
footer {
    padding: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: rgba(32, 32, 32, 0.651);
}