html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* general */
*,
*::before,
*::after {
    box-sizing: border-box;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}
h1 {
    font-size: 36px;
    font-weight: 700;
}
h2 {
    font-size: 32px;
    font-weight: 600;
}
h3 {
    font-size: 29px;
    font-weight: 600;
}
p {
    font-size: 18px;
    line-height: 1.5;
}
a {
    text-decoration: none;
}
.text-centre {
    text-align: center;
}
.uppercase {
    text-transform: uppercase;
}
strong {
    color: #ED563A;
}
body {
    font-family: 'Montserrat', sans-serif;
}
/* flex */
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* header */
header {
    padding: 20px 0;
    background-color: hsla(212,7%,43%,0.8);
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
}
.logo {
    text-transform: uppercase;
    color: white;
}
.list-item {
    margin-left: 25px;
}
.list-item:first-child {
    margin-left: 0;
}
.list-item a {
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}
.sign-btn {
    padding: 15px;
    background-color: #ED563A;
    display: inline-block;
}
/* button */
.btn {
    padding: 10px 15px;
    color: white;
    background-color: #ED563A;
    display: inline-block;
}
/* hero section */
.contain {
    position: relative;
}
video {
    width: 100%;
}
.hero {
    position: absolute;
    width: 100%;
    height: 99.5%;
    top: 0;
    right: 0;
    background-color: hsla(207,12%,32%, 0.8);
}
.hero-sub {
    color: white;
    position: relative;
    top: 300px;
}
.hero-sub h1 {
    margin: 20px 0;
    font-size: 45px;
}
.hero-sub p {
    font-weight: 600;
}